jupyterlab
nltk
numpy
pandas
scikit-learn
scrapy
scrapy-crawlera
scrapyjs
seaborn
selenium
tensorboard
pytrends
boto3
pymongo
python-binance
tqdm
jupyter
plotly
statsmodels
torch
transformers
undetected_chromedriver
langdetect