jupyter-client==6.1.7
jupyter-core==4.7.0
jupyterlab==2.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
nltk==3.5
notebook==6.1.5
numpy==1.19.4
pandas==1.2.0
scikit-learn==0.24.0
scrapy==2.4.1
scrapy-crawlera==1.7.2
scrapyjs==0.2
seaborn==0.11.1
selenium==3.141.0
shub==2.12.0
tensorboard==2.4.0
pytrends==4.7.3
boto3==1.16.58
pymongo
python-binance
tqdm
jupyter
plotly
statsmodels
